body{
  background-color: #00bfff;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0099ff;
  position: fixed;
  width: 100%;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
li a:hover {
  background-color: #0080ff;
  border-radius: 5px;
}
#header{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  padding-top: 230px;
  padding-bottom: 100px;  
}
#header p{
  font-weight: bold;
}
#consulta{
  text-align: center;
  padding: 100px;
  font-family: 'Comfortaa', cursive;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){
  background-color: #f2f2f2;
}
#customers tr:hover {
  background-color: #ddd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
table{
  background-color: white;
}
#sobre{
  font-family: 'Comfortaa', cursive;
  text-align: center;
}
h1{
  line-height: 8;
}

p{
  font-size: 1.4em;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 100px;
}
footer{
  text-align: center;
  padding-bottom: 2px;
}
footer a{
    text-decoration: none;
    color: green;
}